@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  height: 100vh;
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 20px;
}

#numeros {
  font-size: 100px;
}

.simbolos {
  font-size: 60px;
}
